.col-md-4.col-md-offset-4.col-sm-6.col-sm-offset-3
  %a.btn.btn-lg.btn-block.btn-success{href: url_for(:songs, :new)}
    -# TODO add i18n string somehow..
    =tag_icon("plus fa-2x", "Add new song")
